RewriteEngine On

# BYPASS FILE PWA
RewriteRule ^sw\.js$ - [L]
RewriteRule ^manifest\.json$ - [L]

# WWW redirect
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

# HTTPS redirect
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

AddType application/javascript .js
AddType application/manifest+json .json