RewriteEngine On

# Jangan rewrite file asli
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Jangan rewrite folder asli
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# MIME TYPES
AddType application/javascript .js
AddType application/manifest+json .json

# FORCE HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]